/* Карточки сделаны по макету, сильно не хватает времени для творчества из-за дедлайна, но обещаю, что в будущем это будет исправлено! */

body {
  max-width: 700px;
  margin: 0 auto;
  font-family: var(--main-font-family);
  background-color: var(--background-color-card);
  background-image: repeating-linear-gradient(
    var(--background-color),
    var(--background-color) 2px,
    transparent 2px,
    transparent 4px
  ), 
  repeating-linear-gradient(
    90deg,
    var(--background-color),
    var(--background-color) 2px,
    transparent 2px,
    transparent 4px
  ),  repeating-linear-gradient(
    180deg,
    var(--background-color-start) 0.01%,
    var(--background-color-end)
  );
  background-size: cover;
  background-attachment: fixed;
}

.page {
  color: var(--text-color);
  font-family: var(--main-font-family);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--text-font-weight);
}

.header {
  gap: 20px;
  margin-block: 100px 102px;
  border: solid var(--text-color) 2px;
  padding: 136px 0 23px;
  font-family: var(--accent-font-family);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--background-color-card);
}

@media (width <= 375px) {
  .header {
    padding: 120px 0 23px;
  }
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  margin-block: 21px 25px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
}

@media (width <= 375px) {
  .header__title {
    margin-block: 17px 19px;
  }
}

.theme-menu__button {
  border: none;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  transition: opacity 0.3s ease;
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 45.3%;
  line-height: 87%;
  text-align: start;
}
@media (width <= 375px) {
  .theme-menu__list {
    margin: 0 41.4%;
  }
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -20px;
  animation: slideAnimation 0.5s ease-in-out infinite alternate; /* Длительность 0.5 секунды, функция ease-in-out */
}

.main {
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin-block-end: 103px;
}

.section {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

.card {
  border: 2px solid var(--border-card-color);
  background-color: var(--background-color-card);
}

.card__title {
  padding: 4px 10px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 21.78px;
  font-variation-settings: var(--title-font-weight);
}

.card__content {
  position: relative;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.card__text-content {
  display: flex;
  flex-direction: column;
  gap: 26.7px;
  margin: auto;
  padding: 25px 25px 24px 25px;
  font-size: 18px;
}

.card__text {
  font-variation-settings: var(--text-font-weight);
}

.card__image {;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.image__label {
  position: absolute;
  top: 27px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-shadow: -1px 0 var(--label-color), 0 1px var(--label-color),
  1px 2px var(--label-color), 0 -1px var(--label-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stro.card__image: 1px var(--label-color)) or (text-stroke: 1px var(--label-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
  }
}

@media (width <= 375px) {
  .image__label {
    top: 26px;
    right: 11px; 
  }
}

.card__like-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  border: 2px solid var(--text-color);
  overflow: hidden;
  font-size: 14px;
  background: none;
}

.button:focus {
  box-shadow: 2px 2px 0px var(--text-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  position: relative;
  min-width: 130px;
  min-height: 38px;
  font-family: var(--accent-font-family);
}

.button__text {
  align-self: center;
  color: var(--blend-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__icon-button {
  max-height: 38px;
  border: none;
  outline-color: transparent;
  outline-offset: -2px;
  background: none;
  transition: outline-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid var(--text-color) 2px;
}



.floppy-image {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .floppy-image {
    align-self: center;
    width: 28px;
    height: 28px;
  }
}

.button__save {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-self: center;
  padding: 15px 20px;
  outline: none;
  color: var(--blend-color);
  background-color: var(--background-color-card);
}

@media (width <= 375px) {
.button__save {
    flex-direction: column;
  }
}

.dialog {
  border: 2px solid var(--text-color);
  padding: 30px 26px;
  color: var(--text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  background: var(--background-color-card);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (width <= 375px) {
  .dialog__container {
    gap: 28px;
  }
}

.dialog__text {
  width: 100%;
  max-width: 234px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__text-container {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media (width <= 375px) {
  .dialog__text {
    width: 80%;
  }
}

.dialog .floppy-image {
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

@media (width <= 375px) {
  .dialog {
    padding: 32px 38px;
  }
}

.button-confirm {
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  background: var(--page-background);
}

/* heart hover */

.like-icon .core {
  fill: var(--background-color-card);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--text-color);
}

.like-icon .main-body {
  fill: var(--background-color-card);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
}

.like-icon .heart {
  transition: fill 0.1s;
  transform-origin: center center;
}

.like-icon .contour {
  fill: var(--text-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .contour {
  fill: var(--text-color);
}


/* heart active */

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon:active .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
}

/* heart click */

.like-icon.is-liked .main-body, .like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.06s;
}

.is-liked .heart {
  animation: heartScale 0.3s ease-in forwards alternate;
  animation-delay: 0.1s;
}

/* heart sparks */
.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: showSparks 0.3s ease-in 0.3s forwards alternate;
}

/* filters */
.contrast {
  filter: contrast(250%);
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(0.6turn);
}

.invert {
  filter: invert(15%);
}

.saturate {
  filter: saturate(190%);
}

.sepia {
  filter: sepia(0.6);
}

.multiple {
  filter: hue-rotate(0.3turn) invert(15%) drop-shadow(5px 5px var(--text-color)) ;
}

@media (width <= 375px) {
  .card:nth-child(7) .card__text {
    max-width: 317px;
  }
}